**/__pycache__/
*.pyc
.DS_Store
.vscode/
cache/
*.log
preprocessing_output/danish_frequencies/danish_leipzig_for_analysis.txt
preprocessing_output/danish_frequencies/danish_leipzig_processed.csv
preprocessing_output/preprocessed_data.csv
preprocessing_output/preprocessed_data.txt
*.py[cod]
/results_quick/
/results_fullS_copy/