**/__pycache__/
*.pyc
.DS_Store
.vscode/
cache/
*.log
input_data/danish_frequencies/danish_leipzig_for_analysis.txt
input_data/danish_frequencies/danish_leipzig_processed.csv
input_data/preprocessed_data.csv
input_data/preprocessed_data.txt
*.py[cod]